---
import { Icon } from 'astro-icon/components';

import { Image } from 'astro:assets';
import manSitting from '../assets/sitting_under_a_stary_night.jpg';
---

<html lang='en'>
      <head>
            <meta charset='utf-8' />
            <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
            <meta name='viewport' content='width=device-width' />
            <meta name='generator' content={Astro.generator} />
            <title>Edwards Presume | Architect</title>
      </head>
      <body class='bg-black text-white'>
            <div class='p-8 mx-auto max-w-xl'>
                  <header class='text-center grid gap-2'>
                        <Image
                              src={manSitting}
                              width='130'
                              height='130'
                              alt='Man sitting under a starry night sky'
                              class={'rounded-full mx-auto aspect-square object-cover border-slate-800 border'}
                        />

                        <h1 class='text-3xl font-bold'>Edwards Presume</h1>

                        <q class='text-gray-400 italic'>
                              If one advances confidently in the direction of
                              his dreams, and endeavors to live the life which
                              he has imagined, he will meet with a success
                              unexpected in common hours.
                        </q>
                  </header>

                  <ul class='space-y-5 mt-8'>
                        <li>
                              <a
                                    target='_blank'
                                    href='https://twitter.com/edwardspresume'>
                                    <Icon name='mdi:twitter' />
                                    <span>Twitter</span>
                              </a>
                        </li>

                        <li>
                              <a
                                    target='_blank'
                                    href='https://www.instagram.com/edwardspresume'>
                                    <Icon name='mdi:instagram' />
                                    <span>Instagram</span>
                              </a>
                        </li>

                        <li>
                              <a
                                    target='_blank'
                                    href='https://github.com/edwardspresume'>
                                    <Icon name='mdi:github' />
                                    <span>Github</span>
                              </a>
                        </li>

                        <li>
                              <a
                                    target='_blank'
                                    href='https://www.youtube.com/@edwardspresume'>
                                    <Icon name='mdi:youtube' />
                                    <span>YouTube</span>
                              </a>
                        </li>

                        <li>
                              <a
                                    target='_blank'
                                    href='https://www.linkedin.com/in/edwardspresume'>
                                    <Icon name='mdi:linkedin' />
                                    <span>Linkedin</span>
                              </a>
                        </li>
                  </ul>
            </div>
      </body>
</html>

<style>
      li a {
            gap: 0.5rem;
            display: flex;
            padding: 0.5rem;
            font-size: 1.3rem;
            justify-content: center;
            align-items: center;
            border-radius: 0.5rem;
            border: 1px solid white;
            transition: all 0.4s ease-in-out;
      }

      a:hover {
            color: black;
            background-color: white;
      }
</style>
